<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- i use the method 1 https://coreui.io/blog/how-to-capitalize-the-first-letter-in-javascript/#:~:text=It%20does%20this%20by%20using,convert%20this%20character%20to%20uppercase. -->
  <title><%= category.charAt(0).toUpperCase() + category.slice(1) %></title>
  
  <style>
    span {
        font-weight: bolder;
    }
    /* this helps me capitalize the first letter of the h2 https://stackoverflow.com/questions/5577364/make-the-first-character-uppercase-in-css */
    h1:first-letter {
        text-transform: capitalize; 
    }
  </style>
</head>
<body>
    <%- include('./partials/nav') %>
    <h1><%= category%></h1>

    <ul> 
        <% menuItems.forEach(item => { %>
            <li>
                <span>NAME:</span> <%= item.name %> <br>
                <span>PRICE:</span> <%= item.price %> <br>
                <span>RATING:</span> <%= item.rating.toFixed(2) %> <br>
                <span>DETAILS:</span> <%= item.details %> <br>
            </li>
        <% }) %>
    </ul>

  
  
</body>
</html>