<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= restaurant.name  %></title>
</head>
<body>
  <h1>Home Page</h1>

  <h2><%= restaurant.name  %></h2>
  <h3><%= restaurant.address  %></h3>
  <h4><%= restaurant.phone  %></h4>
  <h5> <%= restaurant.isOpen ? "Yes we are open!" : "Sorry, we are closed." %> </h5>

</body>
</html>
